* , *::after , *::before{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
h3{
    font-weight:600;
}
header .brand-logo{
    font-weight: 600;
}
#add-form{
    display:flex;
    justify-content: center;
    margin:10px 0px;
}

li.completed > span{
    text-decoration: line-through; 
}
footer , header{
    text-align: center;
    color:#fff ;
    background: #333;
    padding:1rem;
}
.container{
    width:85%;
    margin: 0 auto;
}
#add-form input[type="text"]{
    width:calc(100% - 60px);
}
input[type="submit"]{
    margin-left:0;
    border:none;
    outline:none;
    background: #333;
    color:whitesmoke;
    padding:.4rem .8rem;
}
input[type="text"]{
    display: inline-block;
    margin:.1rem 0px;
    padding:.6rem .8rem;
    outline:none;
    border:1px solid #333;
    width: 100%;
    max-width:360px;
    text-align: center;
}
.todos{
    margin-top:10px;
    padding:3px 10px;
}
.todos ul{
    list-style: none;
    border:1px solid #333;
}

.todo-item{
    border-bottom:1px solid #333;
    padding:10px;
}
.todo-item:last-child{
    border-bottom: none;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.float-right{
    float:right;
}
.float-right button{
    color:whitesmoke;
    background:crimson;
    border:none;
    border-radius:3px; 
    padding:0px 10px;
    margin-left:10px;
}
a{
    text-decoration: none;
}
footer a{
    color:white;
}
main{
    min-height:calc(100vh - 150px);
}
footer{ 
  padding: 1rem;
  background-color:#333;
  text-align: center;
}
/* SnackBar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  